body {
    margin: 0;
    font-size: 9pt;
    font-family: Arial, sans-serif;
}

#css-explorer {
    width: 300px;
}

.css-explorer-item {
    cursor: pointer;
    border: 1px solid #000;
    line-height: 26px;
}

.css-explorer-item:hover {
    background: #C1DEC3 url('img/selected-shadow.png') no-repeat right center;
}

.css-explorer-item-selected, .css-explorer-item-selected:hover {
    background: #83C988 url('img/selected.png') no-repeat right center;
    font-weight: bold;
}

/* An handle for moving items around, visible only when the item is hovered */
/* An expander to expand / collapse items */
.css-explorer-handle, .css-explorer-expander {
    float: left;
    width: 20px;
    height: 26px;
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center center;
}

.css-explorer-item:hover .css-explorer-handle {
    cursor: move;
    background-image: url('img/handle.png');
}

/* Specific expand / collapse images */
.css-explorer-expand   { background-image: url('img/expand.png');   }
.css-explorer-collapse { background-image: url('img/collapse.png'); }

/* Class added by JQueryUI when dragging an item over a droppable item */
.css-explorer-droppable {
    background-color: #0000AA;
}

#css-search-by-tag {
    padding: 5px 26px 5px 6px;
    background: #FFF url('./img/search.png') no-repeat center right;
    border: 1px solid #CCC;
    border-radius: 3px;
}

#css-footer {
    margin-top: 20px;
    text-align: center;
}
