body {
    margin: 0;
    font-size: 9pt;
    font-family: Helvetica, sans-serif;
}

#css-explorer {
    width: 300px;
}

.css-explorer-item {
    cursor: pointer;
    border: 1px solid #000;
    line-height: 26px;
}

.css-explorer-item:hover {
    background: #C1DEC3 url('img/selected-shadow.png') no-repeat right center;
}

.css-explorer-item-selected, .css-explorer-item-selected:hover {
    background: #83C988 url('img/selected.png') no-repeat right center;
    font-weight: bold;
}

/* An handle for moving items around, visible only when the item is hovered */
/* An expander to expand / collapse items */
.css-explorer-handle, .css-explorer-expander {
    float: left;
    width: 20px;
    height: 26px;
    cursor: move;

    background-repeat: no-repeat;
    background-position: center center;
}

.css-explorer-expander {
    cursor: pointer;
}

.css-explorer-item:hover .css-explorer-handle {
    background-image: url('img/handle.png');
}

.css-explorer-expand {
    background-image: url('img/expand.png');
}

.css-explorer-collapse {
    background-image: url('img/collapse.png');
}

/* Skip 20px per level (20px is the width of the expander) */
.css-explorer-level-1 .css-explorer-expander { margin-left:  0px; }
.css-explorer-level-2 .css-explorer-expander { margin-left: 20px; }
.css-explorer-level-3 .css-explorer-expander { margin-left: 40px; }
.css-explorer-level-4 .css-explorer-expander { margin-left: 50px; }
.css-explorer-level-5 .css-explorer-expander { margin-left: 80px; }

/* Class added by JQueryUI when dragging an item over a droppable item */
.css-explorer-droppable {
    background-color: #0000AA;
}

/* The name of the tag */
.css-explorer-tag {
}

/* Footer of the page */
#css-footer {
    margin-top: 20px;
    text-align: center;
}
