body {
    margin: 0;
    font-size: 9pt;
    font-family: Helvetica, sans-serif;
}

#css-explorer {
    width: 300px;
}

.css-explorer-item {
    cursor: pointer;
    border: 1px solid #000;
    line-height: 26px;
}

.css-explorer-item:hover {
    background: #C1DEC3 url('img/selected-shadow.png') no-repeat right center;
}

.css-explorer-item-selected, .css-explorer-item-selected:hover {
    background: #83C988 url('img/selected.png') no-repeat right center;
    font-weight: bold;
}

/* An handle for moving items around, visible only when the item is hovered */
/* An expander to expand / collapse items */
.css-explorer-handle,
.css-explorer-expander-level-1,
.css-explorer-expander-level-2,
.css-explorer-expander-level-3,
.css-explorer-expander-level-4,
.css-explorer-expander-level-5 {
    float: left;
    width: 20px;
    height: 26px;
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center center;
}

.css-explorer-item:hover .css-explorer-handle {
    cursor: move;
    background-image: url('img/handle.png');
}

/* Skip 20px per level (20px is the width of the expander) */
.css-explorer-expander-level-2 { margin-left: 20px; }
.css-explorer-expander-level-3 { margin-left: 40px; }
.css-explorer-expander-level-4 { margin-left: 60px; }
.css-explorer-expander-level-5 { margin-left: 80px; }

/* Specific expand / collapse images */
.css-explorer-expand   { background-image: url('img/expand.png');   }
.css-explorer-collapse { background-image: url('img/collapse.png'); }

/* Class added by JQueryUI when dragging an item over a droppable item */
.css-explorer-droppable {
    background-color: #0000AA;
}

#css-search-by-tag {
    padding: 5px 20px 5px 4px;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url('./img/search.png');
}

#css-footer {
    margin-top: 20px;
    text-align: center;
}
